.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
  padding: 40px 0;
  height: auto;
  font-size: 24px;
}
.openBurger,
.btnClose {
  display: none;
}
.burgerIcon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.navTags {
  color: black;
  padding: 5px 14px;
  text-decoration: none;
  border-radius: 20px;
  &.active {
    color: white;
    background-color: #1d5377;
  }
}
.navTags:hover {
  color: white;
  background-color: #a4d11d;
}
.navCollapse {
  position: relative;
  display: flex;
  align-items: center;
  & .collapsTags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 10px;
    top: 32px;
    position: absolute;
    //max-height: 0px;
    height: max-content;
    opacity: 0;
    z-index: 2;
    & a {
      display: none;
      color: black;
      text-decoration: none;
      padding: 4px;
    }
    & a:hover {
      color: white;
      background-color: #a4d11d;
    }
    & a.active {
      color: white;
      background-color: #1d5377;
    }
  }
}
.navCollapse:hover .collapsTags {
  width: max-content;
  padding-top: 10%;
  animation: show 0.4s ease-in forwards;
  & a {
    display: inline;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.bannerLogo {
  display: flex;
  margin-top: 30px;
  position: relative;
  height: auto;
  align-items: center;
  background-color: #c0c3c5;
  justify-content: space-between;
  & .logo {
    position: absolute;
    width: 350px;
    top: -58px;
  }
  & h1 {
    color: #464b4e;
    font-weight: 900;
    font-size: 50px;
    width: 73%;
  }
}
.bannerTitle {
  margin: 40px 0 20px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.ecophyto {
  margin-top: 32px;
  width: 200px;
  height: 90px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.bannerSlogan {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}
.slogan {
  font-size: 22px;
  width: 73%;
}
.phone {
  background-color: #01b1af;
  text-align: center;
  width: 200px;
  height: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  &:hover {
    background-color: #a4d11d;
  }
}
.phoneNumber {
  a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .navbar {
    justify-content: flex-end;
    gap: 2%;
    font-size: 18px;
    margin-right: 2%;
  }
  .navCollapse:hover .collapsTags a {
    width: 180px;
  }
  .bannerLogo h1 {
    font-size: 32px;
    width: 60%;
  }
  .slogan {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    right: -136px;
    z-index: 1;
    background-color: white;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .btnClose.active {
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    cursor: pointer;
  }
  .navbar.active {
    right: 15px;
    padding: 0;
    margin: 40px 5px 40px 0;
    width: 125px;
    padding: 10px;
  }
  .openBurger {
    display: flex;
    margin-inline-end: 15px;
    justify-content: flex-end;
    padding-top: 15px;
    cursor: pointer;
  }
  .openBurger.hide {
    visibility: hidden;
  }
  .bannerLogo.center {
    justify-content: center;
  }
  .bannerLogo .logo {
    width: 318px;
    top: -53px;
  }
  .bannerLogo h1 {
    width: 52%;
    font-size: 26px;
    text-align: center;
    margin-top: 32px;
  }
  .bannerTitle {
    flex-direction: column;
    &.left {
      width: max-content;
      align-items: center;
      margin-inline: 42px;
    }
  }
  .navCollapse:hover .collapsTags {
    padding-top: 0;
    flex-direction: column;
    left: -140px;
    top: 0px;
    z-index: -1;
    background-color: white;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .navCollapse:hover .collapsTags a {
    text-align: start;
    width: 135px;
  }
  .bannerSlogan {
    flex-direction: column;
    gap: 10px;
  }
  .slogan {
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .navbar {
    font-size: 14px;
  }
  .navbar.active {
    width: 90px;
  }
  .bannerLogo .logo {
    width: 250px;
    top: -42px;
  }
  .navCollapse:hover .collapsTags a {
    width: 100px;
  }
  .navCollapse:hover .collapsTags {
    left: -115px;
  }
  .bannerLogo {
    justify-content: center;
  }
  .bannerLogo h1 {
    width: 63%;
    margin-top: 20px;
    font-size: 20px;
  }
  .bannerTitle.left {
    width: 100%;
    margin: 16px 30px;
    align-items: center;
  }
  .ecophyto {
    margin-top: 16px;
    width: 100px;
    height: 45px;
  }
}
@media (max-width: 425px) {
  .bannerLogo {
    justify-content: center;
  }
  .bannerTitle.left {
    align-items: center;
  }
  .bannerLogo h1 {
    width: 100%;
  }
  .slogan {
    width: 98%;
    text-align: center;
    font-size: 16px;
  }
}
